html {
    margin: 0;
    padding: 0;
    background-color: #f8f1f1;
    font-family: "Futura",Arial,sans-serif;
}
@font-face {
    font-family: "Futura";
    src: "assets/font/futura"
   }
body {
    margin: 0;
    top: 0;
}
header {
    background-color: #fff;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.fondqualification, .merciqualif {
    width: 90%;
    border-radius: 15px;   
}
main {
    background-color: #fff;
    border-radius: 25px;
    margin: auto;
    width: 960px;
    text-align: center;
}
main h1 {
    font-size: 24px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    display: inline-block;
}
.logo {
    border-radius: 15px;
    margin-left: 400px;
}
.marque {
    margin-left: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
}
footer {
    position: relative;
    color: #700007;
    width: 100%;
    background-color: #d00612;
    color: black;
    text-align: center;
    bottom: 0;
    padding-bottom: 5px;
    margin-top: 20px;
}
li.right {
   float: right;
   padding: 20px 20px 20px;
}
.info {
    color: #413a3b;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    padding-top: 20px;
    color: #413a3b;
    text-align: center;
    text-transform: uppercase;
}
.placeholder {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
}
.check  {
    width: 100%;
}
form {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input {
    margin-top: 5px;
    margin-bottom: 10px;
}
form select {
    margin-top: 5px;
    margin-bottom: 10px;
}
.imgfooter {
    padding-top: 10px;
    width: 50px;
}
.labelmail {
    font-weight: bold;
    margin-bottom: 50px;
}
.apprentissage {
    width: 100%;
    height: 100%;
    clear: both;
}
.apprentissage label {
    border-radius: 45px;
    margin: 10px;
    padding: 1px;
    display: inline-block;
    width: 85px;
    height: 80px;
    transition: 0.5s;
}
.apprentissage img {
    border-radius: 50px;
}
.apprentissage :checked+label {
background-color: rgb(55, 243, 102);
}
.apprentissage input[type="checkbox"] {
    display: none;
  } 
.apprentissage label:hover {
    transform: scale(1.1);
}
.apprentissage p{
    font-size: 12px;
    margin: 0;
}
#verif {
    margin-top: 20px;
}
.reseau {
    display: block;
}
.reseau h2{
    padding-top: 10px;
}
.reseau ul li a {
    color: #fff;
    margin-right: 15px;
    transition-duration: 0.3s
}
.reseau ul li a:hover {
    color: #700007;
    border: 1px solid #700007;
    border-radius: 40px;
    padding: 4px 8px;
}
.reseau ul p {
    margin: 0;
    position: relative;
    padding: 4px 8px;
    width: auto;
}
.reseau h2 {
    color: #fff;
    font-size: 24px;
    text-decoration: underline;
}
button {
    position: relative;
    padding: 17px 20px;
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background: #e20613;
    border-radius: 10px;
}
button:hover {
    background-color: #a50610;
}
.retoursite {
    border: solid 1px rgb(41, 40, 40);
    padding: 17px 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background: #e20613;
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}
.retoursite:hover {
    background-color: #a50610;
}
h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}
h4 {
    margin-bottom: 40px;
}
p {
    font-size: 10px;
}

footer p, footer a {
    font-size: 1rem;
    transition: 0.3s;
}
footer a:hover {
    color: white;
}

input {
    border-radius: 5px;
}

#custom {
    padding-bottom: 35px;
}